header {
    background-color:#ffffff;
    border-bottom:#cccccc solid 2px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width:100%;
    margin: 0;
    min-height: 55px;
    padding:0;
}
.logo {
    background-color:#4aaaa5;
    color:white;
    padding: 18px;
    text-align: bottom;
    margin: 0 400px 0 300px;
    display:inline;
    border-bottom:#cccccc solid 2px;

}

.links {
    display:inline;
    text-align:center;
    margin: 0 25px;    
}

.text{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    font-size: 16px;
}

.head {
    color:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    padding: 5px 0 20px;
    border-bottom:#cccccc solid 2px;
    margin: 20px 20px 10px;
    
}

.container {
    background-color:white;
    width:960px;
    border: solid #dddddd 1.5px;
    margin: 20px 300px;
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}

.image {
    margin: 0 20px;
    float:left;

}
p {
    margin: 0 20px 20px 20px;
    line-height:1.5;

}

.footer {
    color:white;
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
    font-size:12px;
    margin: -50px 0 0;
    padding: 30px 0 10px 0;
    text-align:center;
    width: 100%;
}

body {
    margin:0;
    
    background-image: url(email-pattern.png);
    
}